<div class="brn-group" role="group" aria-label="...">
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria haspopup="true" aria-expanded="false">-15  <i class="fa fa-sort-desc"></i></button
	</button>
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria haspopup="true" aria-expanded="false">15-20  <i class="fa fa-sort-desc"></i></button
	</button>
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria haspopup="true" aria-expanded="false">20-30  <i class="fa fa-sort-desc"></i></button
	</button>
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria haspopup="true" aria-expanded="false">30-40  <i class="fa fa-sort-desc"></i></button
	</button>
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria haspopup="true" aria-expanded="false">40-45 <i class="fa fa-sort-desc"></i></button
	</button>
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria haspopup="true" aria-expanded="false">Vote  <i class="fa fa-sort-desc"></i></button
	</button>
</div>

<div class="container">
	<div class="row jumbotron">
		<div class="col-sm-2"><%= image_tag("pictureListContents.png", :alt =>"ictureofContents", :width=>125, :height=>125) %></div>
		<div class="col-sm-offset-1 col-xs-3">
        	<div class="title row"><span>TITLE</span></div>
        	<div class="row"><span>Auteur</span></div>
        	<div class="row"><span>3 views</span></div>
        	<div class="row"><span>4 likes / 5 dislikes</span></div>
    	</div>
		<div class="col-sm-offset-0 col-sm-6">
			<div class="resume">
        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mollis, odio eu consequat volutpat, orci lorem blandit urna, vel fringilla ipsum risus quis ex. In.</p>
        </div>
    </div>
	</div>
	<div class="row jumbotron">
		<div class="col-sm-2"><%= image_tag("pictureListContents.png", :alt =>"ictureofContents", :width=>125, :height=>125) %></div>
		<div class="col-sm-offset-1 col-xs-3">
        	<div class="title row"><span>TITLE</span></div>
        	<div class="row"><span>Auteur</span></div>
        	<div class="row"><span>3 views</span></div>
        	<div class="row"><span>4 likes / 5 dislikes</span></div>
    	</div>
		<div class="col-sm-offset-0 col-sm-6">
			<div class="resume">
        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mollis, odio eu consequat volutpat, orci lorem blandit urna, vel fringilla ipsum risus quis ex. In.</p>
        </div>
    </div>
	</div>
	<div class="row jumbotron">
		<div class="col-sm-2"><%= image_tag("pictureListContents.png", :alt =>"ictureofContents", :width=>125, :height=>125) %></div>
		<div class="col-sm-offset-1 col-xs-3">
        	<div class="title row"><span>TITLE</span></div>
        	<div class="row"><span>Auteur</span></div>
        	<div class="row"><span>3 views</span></div>
        	<div class="row"><span>4 likes / 5 dislikes</span></div>
    	</div>
		<div class="col-sm-offset-0 col-sm-6">
			<div class="resume">
        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mollis, odio eu consequat volutpat, orci lorem blandit urna, vel fringilla ipsum risus quis ex. In.</p>
        </div>
    </div>
	</div>
	<div class="row jumbotron">
		<div class="col-sm-2"><%= image_tag("pictureListContents.png", :alt =>"ictureofContents", :width=>125, :height=>125) %></div>
		<div class="col-sm-offset-1 col-xs-3">
        	<div class="title row"><span>TITLE</span></div>
        	<div class="row"><span>Auteur</span></div>
        	<div class="row"><span>3 views</span></div>
        	<div class="row"><span>4 likes / 5 dislikes</span></div>
    	</div>
		<div class="col-sm-offset-0 col-sm-6">
			<div class="resume">
        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mollis, odio eu consequat volutpat, orci lorem blandit urna, vel fringilla ipsum risus quis ex. In.</p>
        </div>
    </div>
	</div>
</div>