<div class="container jumbotron">
  <div class="contentvideo text-center">
  <h3>TITLE <small>by Toto</small><h3>
    <div class="embed-responsive embed-responsive-16by9" style="margin-bottom: 20px">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/D-YPnDvTCmI" frameborder="0" allowfullscreen>
        </iframe>
      </div>
</div>
<div class="vote">
      <span class="col-sm-6 col-md-6 col-lg-6">
      <button type="button" class="btn-vote btn btn-success btn-lg col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-xs-6 col-sm-6 col-md-6 col-lg-6">OK</button>
    </span>
    <span class="col-sm-6 col-md-6 col-lg-6">
      <button onclick="$dialog=true;" type="button" class="btn-vote btn btn-danger btn-lg col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-xs-6 col-sm-6 col-md-6 col-lg-6" data-toggle="modal" data-target="#why">Not Ok</button>
    </span>
  </div>
</div>

<div class="container jumbotron">
  <div class="contentvideo text-center">
  <h3>TITLE <small>by Toto</small><h3>
    <div class="embed-responsive embed-responsive-16by9" style="margin-bottom: 20px">
        <image class="img-responsive center-block" src="http://img-9gag-fun.9cache.com/photo/4900871_700b.jpg">
    </image>
      </div>
</div>

<div class="vote">
      <span class="col-sm-6 col-md-6 col-lg-6">
      <button type="button" class="btn-vote btn btn-success btn-lg col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-xs-6 col-sm-6 col-md-6 col-lg-6">OK</button>
    </span>
    <span class="col-sm-6 col-md-6 col-lg-6">
      <button onclick="$dialog=true;" type="button" class="btn-vote btn btn-danger btn-lg col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-xs-6 col-sm-6 col-md-6 col-lg-6" data-toggle="modal" data-target="#why">Not Ok</button>
    </span>
  </div>
</div>
<div class="container jumbotron">
  <div class="contentvideo text-center">
  <h3>TITLE <small>by Toto</small><h3>
    <div class="embed-responsive embed-responsive-16by9" style="margin-bottom: 20px">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WMdFnFjyR48" frameborder="0" allowfullscreen>
        </iframe>
      </div>
</div>

<div class="vote">
      <span class="col-sm-6 col-md-6 col-lg-6">
      <button type="button" class="btn-vote btn btn-success btn-lg col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-xs-6 col-sm-6 col-md-6 col-lg-6">OK</button>
    </span>
    <span class="col-sm-6 col-md-6 col-lg-6">
      <button onclick="$dialog=true;" type="button" class="btn-vote btn btn-danger btn-lg col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-xs-6 col-sm-6 col-md-6 col-lg-6" data-toggle="modal" data-target="#why">Not Ok</button>
    </span>
  </div>

</div>
<div class="modal fade" id="why">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Why the content is not valid ?</h4>
      </div>
      <div class="modal-body">
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Your reason">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button onclick="disapear();" type="button" class="btn btn-primary" data-dismiss="modal">Send the reason</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="no-more-vote" class="container jumbotron" style="display: none; padding-top: 20px">
  <div class="contentvideo text-center">
    <div class="title" style="margin:0;">
      Plus aucun vote..
    </div>
        <%= image_tag("waiting.png", :class => "img-responsive center-block img-rounded") %>
    </div>
</div>

<script>
    $dialog=false;
    $object=null;
    function disapear() {
        if ($object) {
            $object.parent().parent().parent().slideUp();
        }
    }
    $(document).load(new function() {
        $(".btn-vote").click(function() {
                     $(this).parent().parent().parent().slideUp();
            if ($(".vote").filter(":visible").length == 1) {
                $("#no-more-vote").slideDown();
            }
        });
    });
</script>


