<% @contents.each do |c| %>
<div class="container jumbotron" style="padding-top: 20px">
	<div class="contentvideo text-center">
		<h3>E=GANESH² <small>- by <%= c.member.pseudo %>, 1 hour ago.</small></h3>
		<div class="col-lg-offset-2 col-lg-8">
			<div class="embed-responsive embed-responsive-16by9" style="margin-bottom: 20px">
				<iframe class="embed-responsive-item" src=<%= c.url %> frameborder="0" allowfullscreen>
				</iframe>
			</div>
		</div>
   	</div>
   	<div class="vote">
   		<span class="col-sm-6 col-md-6 col-lg-6">
			<button type="button" class="btn-vote btn btn-success btn-lg col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<i class="fa fa-smile-o fa-lg"></i> Funny !
			</button>
		</span>
		<span class="col-sm-6 col-md-6 col-lg-6">
			<button type="button" class="btn-vote btn btn-danger btn-lg col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<i class="fa fa-meh-o fa-lg"></i> Meh...
			</button>
		</span>
	</div>
</div>
<% end %>
<div class="container jumbotron" style="padding-top: 20px">
	<div class="contentvideo text-center">
		<h3>E=GANESH² <small>- by Toto, 1 hour ago.</small></h3>
		<div class="col-lg-offset-2 col-lg-8">
			<div class="embed-responsive embed-responsive-16by9" style="margin-bottom: 20px">
				<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/beS6GpVl1Mk" frameborder="0" allowfullscreen>
				</iframe>
			</div>
		</div>
   	</div>
   	<div class="vote">
   		<span class="col-sm-6 col-md-6 col-lg-6">
			<button type="button" class="btn-vote btn btn-success btn-lg col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<i class="fa fa-smile-o fa-lg"></i> Funny !
			</button>
		</span>
		<span class="col-sm-6 col-md-6 col-lg-6">
			<button type="button" class="btn-vote btn btn-danger btn-lg col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<i class="fa fa-meh-o fa-lg"></i> Meh...
			</button>
		</span>
	</div>
</div>
<div class="container jumbotron" style="padding-top: 20px">
	<div class="contentvideo text-center">
		<h3>iSurface <small>- by Toto, 2 hour ago.</small></h3>
		<image class="img-responsive center-block" src="http://hijinksensue.com/wp-content/uploads/2013/08/2012-06-19-surface-tension.jpg">
		</image>
   	</div>
   	<div class="vote row" style="padding-top: 20px">
   		<span class="col-sm-6 col-md-6 col-lg-6">
			<button type="button" class="btn-vote btn btn-success btn-lg col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<i class="fa fa-smile-o fa-lg"></i> Funny !
			</button>
		</span>
		<span class="col-sm-6 col-md-6 col-lg-6">
			<button type="button" class="btn-vote btn btn-danger btn-lg col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<i class="fa fa-meh-o fa-lg"></i> Meh...
			</button>
		</span>
	</div>
</div>
<div class="container jumbotron" style="padding-top: 20px">
	<div class="contentvideo text-center">
		<h3>Bloqués - Si j'étais riche <small>- by Toto, 4 hour ago.</small></h3>
		<div class="col-lg-offset-2 col-lg-8">
			<div class="embed-responsive embed-responsive-16by9" style="margin-bottom: 20px">
				<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WjsXFY_tGx4" frameborder="0" allowfullscreen>
				</iframe>
			</div>
		</div>
   	</div>
   	<div class="vote">
   		<span class="col-sm-6 col-md-6 col-lg-6">
			<button type="button" class="btn-vote btn btn-success btn-lg col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<i class="fa fa-smile-o fa-lg"></i> Funny !
			</button>
		</span>
		<span class="col-sm-6 col-md-6 col-lg-6">
			<button type="button" class="btn-vote btn btn-danger btn-lg col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<i class="fa fa-meh-o fa-lg"></i> Meh...
			</button>
		</span>
	</div>
</div>
<div id="no-more-vote" class="container jumbotron" style="display: none; padding-top: 20px">
	<div class="contentvideo text-center">
		<div class="title" style="margin:0;">
			No vote for the moment
		</div>
        <%= image_tag("waiting.png", :class => "img-responsive center-block img-rounded") %>
   	</div>
</div>

<script>
    $(document).load(new function() {
        $(".btn-vote").click(function() {
            $(this).parent().parent().parent().slideUp();
            if ($(".vote").filter(":visible").length == 1) {
                $("#no-more-vote").slideDown();
            }
        });
    });
</script>
