/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-social
 */

.profile
{
    width: 100%;
}

.green { color: #22CA33; }
.blue { color: #01B0F0; }
.red { color: #F7230C; }

.title { font-size: 25px;}

.resume p { font-size: 15px;}

.navbar .navbar-nav { display: inline-block; vertical-align: center; float: none}


#logo
{
    display: inline-block;
    min-width: 10%;
    max-width: 10%;
    min-height: 10%;
    max-height: 10%;
}

.navbar-nav li a
{
	margin-top: 20px;
}

.navbar-btn
{
	margin-top: -8px;
}

#signin a
{
	color: #FFFFFF;
}

#signin a:hover
{
	text-decoration: none;
}

#signup a
{
	color: #FFFFFF;
}

#signup a:hover
{
	text-decoration: none;
}

#signout a
{
  color: #FF0000;
}

.list_contents
{
	margin-top: 20px;

}

.btn-success-moderate
{
	margin-top: 15px
}

.btn-failed-moderate
{
	margin-top: 15px;
	margin-left:100px;
}

.title
{
	margin-bottom:15px;
}
