<div class="container">
<div class="row jumbotron">
    <div class="col-sm-3"><%= image_tag("profile.png", :class => "img-responsive center-block") %></div>
    <div class="col-sm-9" style="text-align: center;">
        <h2>PSEUDO</h2>
        <div class="row"><span>Âge: 18 ans<span></div>
        <div class="row"><span style="color: #0663d0;">Facebook:</span><span style="color: #239530;"> lié</span></div>
        <div class="row"><span>Âge humouristique: 20-25 ans</span></div>
    </div>
</div>
<div class="row jumbotron" style="padding-top: 20px;">
    <h2>Statistiques</h2>
    <div class="row">
        <h3>Réputation</h3>
        <div class="col-xs-6">Likes: <span style="color: #239530;">6</span></div>
        <div class="col-xs-6">Dislikes: <span style="color: #952323;">19</span></div>
    </div>
    <div class="row">
        <h3>Uploads</h3>
        <div class="col-xs-6">Photos: 52</div>
        <div class="col-xs-6">Vidéos: 12</div>
        <div class="col-xs-6">Blagues: 1</div>
    </div>
</div>
</div>